

body{
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

.my_avatar{
    width: 225px;
}

.my_items{
    width: 100%;
    border-radius: .5rem;
}

.my_contain{
    width: 85%;
}

.my_bottone{
    border: 2px white solid;
    border-radius: .5rem;
}

/*colori*/

.my_bg_green{
    background-color:#1abc9c;
    color: white;
}

.my_bg_dark{
    background-color: #3A546D;
    color: white;
}

/*elementi da cancellare*/

.my_trat{
    border: dashed blue 2px;
}

.sfondo{
    background-color: red;
}