
section{
    padding: 2rem 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.avatar{
    width: 30%;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

p{
    font-size: .8rem;
}

/*colori*/

.my_bg_green{
    background-color:#1abc9c;
    color: white;
}

/*elementi da cancellare*/

.my_trat{
    border: dashed blue 2px;
}