
section{
    padding: 4rem 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3.5rem;
    font-weight: bold;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
}

p{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.avatar{
    width: 20%;
}

.items{
    width: 100%;
    border-radius: 5%;
    margin: .5rem 0;
}

div.container>div:last-child{
    /*
    width: 20%;
    */
}

.bottone{
    border: 2px white solid;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

/*colori*/

.my_bg_green{
    background-color:#1abc9c;
    color: white;
}

/*elementi da cancellare*/

.my_trat{
    border: dashed blue 2px;
}

.sfondo{
    background-color: red;
}